.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.action-buttons-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.edit,
.delete {
  display: flex;
}
